//UI
.block{
    background-color: #fff;
    border-radius: 5px;
    padding: 1.25rem;
}

//Button
.ant-btn {
    .anticon {
        vertical-align: text-top;
    }  
}
//Table
.dnd-table{
    background-color: #fff;
    overflow: auto;
}
//Form
.ant-form-vertical .ant-form-item-label{
   
    padding: 0 0 0;
    line-height: 1;
  
}
.ant-form-item{
    margin-bottom: 0px;
}
//Icon
.dnd-table{
    .anticon-edit{
        color: #563c3c;
    }
    .anticon-delete{
        color: #ff4d4f;
    }
}
.has-error{
    color: #ff4d4f;
}
//Scroll
.chat__scroll {
    height: calc(100% - 55px);
}
@media screen and (max-width: 576px) {
    .ant-drawer-content-wrapper{
        width: 100% !important;
    }
    .block{
        padding: 0;
    }
}
